<div class="en-tete">
  <h1>Bienvenue sur TEN'NET !</h1>
  <br /><br />
  <h3>
    Grâce à cette plateforme plus de problèmes d'organisation, la gestion
    devient un jeu d'enfant !
  </h3>
  <br /><br />
</div>

<div class="container">
  <img
    src="../../assets/profile.png"
    style="width: 35%; margin-top: 10px; margin-left: 30%"
  /><br /><br />
  <strong>Login : </strong>{{ userName }} <br /><br />
  <strong>Adresse mail : </strong>{{ userEmail }} <br /><br />
  <strong>Mot de passe : </strong>{{ userPassword }} <br /><br />
</div>

<div class="containerbis">
  <h1>Information du club</h1>
  <a routerLink="licencie">Licencié(s) </a>
  <a href="../personnel"
    ><button type="button" style="margin-top: 50px" class="bouton">
      Personnel(s)
    </button>
  </a>
  <a href="../equipement"
    ><button type="button" style="margin-top: 50px" class="bouton">
      Equipement(s)
    </button>
  </a>
</div>
